src/main/resources/BillingRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="billRequest" type="billRequestType"/>

    <xs:complexType name="billRequestType">
    <xs:sequence>
      <xs:element type="patientType" name="patient"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="insurance"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>

</xs:schema>